/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
#gallery {
    position: absolute;
    height: 250pt;
    width: calc(100% - 8vw);
    z-index: 10;
    bottom: calc(4.5vw + 100pt);
}


.carousel {}

.carousel img {
    object-fit: cover;
    height: 250pt;
    display: block;
    /* set min-width, allow images to set cell width */
    width: 300pt;
    margin-right: 20pt;
    /* vertically center */
    top: 50%;
    transform: translate(calc(calc(-46vw + 150pt) + 26.4vw), -50%);
}

.carousel-cell.is-selected {
    opacity: 1;
}

.carousel-cell {
    opacity: .4;
}


.flickity-enabled {
    position: relative;
}

.flickity-enabled:focus {
    outline: none;
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

/* ---- flickity-button ---- */

.flickity-button {
    position: absolute;
    background: none;
    border: none;
    color: color: #343333;
}

.flickity-button:hover {
    cursor: pointer;
}

.flickity-button:focus {}

.flickity-button:active {
    opacity: 1;
}

.flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
}

.flickity-button-icon {
    fill: color: #343333;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
    top: 50%;
    width: 40px;
    height: 40px;
    /* vertically center */
    transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
    left: 10px;
}

.flickity-prev-next-button.next {
    right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
}

/* ---- page dots ---- */

.flickity-page-dots {
    display: none;
}

.flickity-rtl .flickity-page-dots {
    direction: rtl;
}


.carousel.is-fullscreen img {
    height: 70%;
    width: auto;
    max-width: 100%;
}



#eae6e5 {}

.flickity-enabled.is-fullscreen {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 1%, 20%, 1);
    z-index: 1;
}

/* prevent page scrolling when flickity is fullscreen */
html.is-flickity-fullscreen {
    overflow: hidden;
}

/* ---- flickity-fullscreen-button ---- */

.flickity-fullscreen-button {
    display: block;
    right: 10px;
    top: 10px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

/* right-to-left */
.flickity-rtl .flickity-fullscreen-button {
    right: auto;
    left: 10px;
}

.flickity-fullscreen-button-exit {
    display: none;
}

.flickity-enabled.is-fullscreen .flickity-fullscreen-button-exit {
    display: block;
}

.flickity-enabled.is-fullscreen .flickity-fullscreen-button-view {
    display: none;
}

.flickity-fullscreen-button .flickity-button-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 15px;
    top: 15px;
}